{block content}
<h1>List of articles</h1>

Here is a list of articles

<ul>
    <li><a n:allowedHref="Article:read one" class="link">Article one</a></li>
    <li><a n:allowedHref="Article:read two" class="link">Article two</a></li>
</ul>
{/block}