includes:
    - phpstan.base.neon

parameters:
    level: max

    paths:
        - ../src/

    bootstrapFiles:
        - phpstan-bootstrap.php

    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

    stubFiles:
        - ../tests/stubs/Adapter.stub
        - ../tests/stubs/BatchAdapter.stub
        - ../tests/stubs/UpdatableAdapter.stub
        - ../tests/stubs/Model.stub

    ignoreErrors:
        -
            message: '#^Unsafe usage of new static\(\).#'
            path: ../src/Latte/Nodes/IfAllowedNode.php
            count: 1
        -
            message: '#^Unsafe usage of new static\(\).#'
            path: ../src/Latte/Nodes/AllowedHrefNode.php
            count: 1